.bowl-card-container {
    width: 100%;
    max-width: 270px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.bowl-card-img-wrapper {
    width: 180px; 
    height: 180px; 
}

.bowl-card-main-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.bowl-card-title {
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    color: #171A1FFF;
    margin: 0;
    text-align: center;
}

@media  (max-width: 500px){
    .bowl-card-container {
        max-width: 180px;
    }
    
}